= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |field|

  .form-group.mb-30
    = field.input :email, autofocus: true

  .form-group.mb-30
    = field.input :password, autocomplete: 'off'
    = link_to t('titles.forgot_password?'), new_password_path(resource_name), class: 'help-block in-gold-500'

  - if devise_mapping.rememberable?
    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        = field.check_box :remember_me, class: 'checkbox-input', hidden: true
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text= t('simple_form.labels.user.remember_me')

  .text-center
    = field.button :submit, t('titles.sign_in'), class: 'btn btn-default mb-20'
