= render 'partials/alerts'
.row.mt-35
  .col-md-auto.mb-35.mr-auto.title= mailing_list.name
  .col-md-auto.mb-35
    .row.align-items-center
      .col= link_to t('header.archives'), mailing_list_issues_path(mailing_list)
      .col= link_to t('header.latest'), issue_path(mailing_list.last_issue)
      .col= link_to t('header.rss')
      .col= link_to t('subscribe'), mailing_list, class: 'btn btn-blue-gradient'
