%table{bgcolor: '#fff', cellpadding: '0', cellspacing: '0', style: 'font-family:Arial,Helvetica,sans-serif;color:#000;font-size:17px; background: #fff;', width: '100%'}
%tbody
  %tr
    %td{align: 'center', valign: 'top'}
      %table{cellpadding: '0', cellspacing: '0', style: 'padding: 0 5px 10px;', width: '598'}
        %tr
          %td{align: 'center', colspan: '3', style: "padding: 50px 0; background: -webkit-gradient(linear, left top, left bottom, from(#2898fb), to(#0171fd)) !important; background: linear-gradient(#2898fb, #0171fd) !important;"}
            = link_to @mailing_list.name, api_v1_mailing_list_url(@mailing_list), target: '_blank', style: "text-decoration: none; color: #fff; text-transform: none; font-size: 24px; line-height: 24px;"
        %tr
          %td{colspan: '3', style: 'text-align: center; padding: 30px 0; font-size: 17px; line-height: 24px;'}
            = t('mailing_lists.subscription_mail.hello')
        %tr
          %td{align: 'center', colspan: '2', style: 'padding: 0 0 20px 0;'}
            %a{href: subscribe_link(@subscription, :disable), style: 'backgroun: #0171fd; border: 2px solid #0171fd;  text-decoration: none; display: block; width: 200px; height: 40px; text-align: center; border-radius: 6px;', target: '_blank'}
              %b{style: 'font-size: 14px; line-height: 40px; color: #0171fd;'}= t('mailing_lists.subscription_mail.unsubscription')
        %tr
          %td{align: 'center', colspan: '2', style: 'border-bottom: 1px solid #d7d7d7; padding: 0 0 10px 0;'}
            = link_to t('header.archives'), api_v1_mailing_list_issues_url(@mailing_list), target: '_blank', style: "text-decoration: none; color: #0171fd; text-transform: none; font-size: 12px;"
        %tr
          %td{align: 'center', colspan: '2', style: 'padding: 25px 8px 10px; font-size: 14px; color: #fff;'}
            %a{href: "#{ENV['CLIENT_URL']}", style: 'text-decoration: none; color: #000', target: '_blank'}= "© DigestList #{Date.today.year}"
