.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('titles.sign_up')

    = render 'users/omni_links'

    %p.general-login-text= t('or')

  = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |field|

    .form-group.mb-30
      = field.input :email, autofocus: true

    .form-group.mb-30
      = field.input :password, autocomplete: 'off'

    .form-group.mb-30
      = field.input :password_confirmation, autocomplete: 'off'

    .text-center
      = field.button :submit, t('titles.sign_up'), class: 'btn btn-default mb-20'

  %p.general-sign-text.text-center
    Do you have account?
    = link_to t('titles.log_in'), new_session_path(resource_name), class: 'in-gold-500'
